{% include 'pages/header.html' %}

<main>
    <div class="container">
        <div class="container">
            <div class="titulo">
                <h2>{{ doenca.doenca }}</h2>
                <hr/>
            </div>
            <div class="conteudo-container">
                <div class="coteudo-left">
                    {% if doenca.conteudo %}
                        {% for conteudo_obj in doenca.conteudo %}
                            {% if conteudo_obj.tipo == 'secao' %}
                                <div class="sessao">
                                    <h2 class="sessao-titulo">{{ conteudo_obj.titulo }}</h2>
                                    {% if conteudo_obj.texto %}
                                        {% for texto_obj in conteudo_obj.texto %}
                                            {% if texto_obj.tipo == 'texto' %}
                                                <p class="sessao-texto">{{ texto_obj.conteudo }}</p>
                                            {% elif texto_obj.tipo == 'lista' %}
                                                <ul class="sessao-lista">
                                                    {% for texto in texto_obj.conteudo %}
                                                        <li>{{ texto }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if doenca.imagens %}
                        {% for imagem in doenca.imagens %}
                            {% if imagem.legenda %}
                                <div class="sessao">
                                    <h3 class="sessao-titulo">Legenda: {{ imagem.titulo }}</h2>
                                    <ul 
                                        class="sessao-lista"
                                        style="list-style-type: none;"
                                    >
                                        {% for chave, valor in imagem.legenda.items() %}
                                            <li>
                                                <svg width="20" height="20">
                                                    <rect width="20" height="20" style="fill:#{{ chave }}" />
                                                </svg>
                                                : {{ valor }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="coteudo-right">
                    {% if doenca.imagens %}
                        {% for imagem in imagens_base64 %}
                        <div class="imagem mg-bottom patoimage">
                            {% if imagem[2] %}
                            <div class="title-overlay">{{ imagem[2] }}</div>
                            {% endif %}
                            <img 
                                now="0" 
                                src="data:image/jpeg;base64, {{ imagem[0] }}" 
                                onclick="changeImage(this, ['data:image/jpeg;base64, {{ imagem[0] }}', 'data:image/jpeg;base64, {{ imagem[1] }}'])"
                            >
                            {% if imagem[3] %}
                            <span class="image-caption">{{ imagem[3] }}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    function changeImage(element, newSrc) {
        let now = parseInt(element.getAttribute('now'));
        element.setAttribute('now', (now === 0) ? 1 : 0);
        element.src = newSrc[now];
    }
</script>

{% include 'pages/js_imports.html'%}

{% include 'pages/footer.html' %}